# Archivos a ignorar
.DS_Store
# Carpetas a ignorar
/workspaces/DATASCIENCE/CEIABD_MODULOS_IA/PROGRAMACION DE INTELIGENCIA ARTIFICIAL/NOTEBOOKS DEL AULA/deprecated
/workspaces/DATASCIENCE/CEIABD_MODULOS_IA/PROGRAMACION DE INTELIGENCIA ARTIFICIAL/NOTEBOOKS DEL AULA/previous
/workspaces/DATASCIENCE/CEIABD_MODULOS_IA/SISTEMAS DE APRENDIZAJE AUTOMATICO/NOTEBOOKS DEL AULA/deprecated
/workspaces/DATASCIENCE/CEIABD_MODULOS_IA/SISTEMAS DE APRENDIZAJE AUTOMATICO/NOTEBOOKS DEL AULA/previous
_Ejercicios/MecadosBursatiles/dataset/objects.csv
_Ejercicios/MecadosBursatiles/dataset/objects.csv.zip
