# Archivos a ignorar
.DS_Store
# Carpetas a ignorar
SISTEMAS DE APRENDIZAJE AUTOMATICO/NOTEBOOKS DEL AULA/Redes Neuronales/datasets/catsvsdogs/
/workspaces/DATASCIENCE/CEIABD_MODULOS_IA/SISTEMAS DE APRENDIZAJE AUTOMATICO/NOTEBOOKS DEL AULA/Redes Neuronales/datasets/catsvsdogs/

_Ejercicios/EJERCICIO_RNN/household_power_consumption.txt
