# Archivos a ignorar
.DS_Store
# Carpetas a ignorar
/workspaces/DATASCIENCE/CEIABD_MODULOS_IA/PROGRAMACION DE INTELIGENCIA ARTIFICIAL/NOTEBOOKS DEL AULA/deprecated
/workspaces/DATASCIENCE/CEIABD_MODULOS_IA/PROGRAMACION DE INTELIGENCIA ARTIFICIAL/NOTEBOOKS DEL AULA/previous
/workspaces/DATASCIENCE/CEIABD_MODULOS_IA/SISTEMAS DE APRENDIZAJE AUTOMATICO/NOTEBOOKS DEL AULA/deprecated
/workspaces/DATASCIENCE/CEIABD_MODULOS_IA/SISTEMAS DE APRENDIZAJE AUTOMATICO/NOTEBOOKS DEL AULA/previous
SISTEMAS DE APRENDIZAJE AUTOMATICO/NOTEBOOKS DEL AULA/Redes Neuronales/datasets/catsvsdogs/
/workspaces/DATASCIENCE/CEIABD_MODULOS_IA/SISTEMAS DE APRENDIZAJE AUTOMATICO/NOTEBOOKS DEL AULA/Redes Neuronales/datasets/catsvsdogs/
